﻿@{
    ViewBag.Title = "About";
}
<div class="row">
    <link href="~/Content/serviceslayout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/aboutstyle.css" rel="stylesheet" type="text/css" />

    <h2 class="fuschiatext">@ViewBag.Title Creative CyberSolutions</h2>

    <p>
        Creative CyberSolutions was founded in 2009 by Brian Bird in Springfield, Oregon. 
        Ryan Sankey joined the buisness as Chief Operating Officer in 2016. 
        A team of talented software developers work with Brian and Ryan to create awesome software.
    </p>
    </div>
    <div class="row">
        <h3>Brian Bird, CEO</h3>
        <img src="~/Images/ProfBird2016-800x600.png" class="col-xs-6 col-sm-3 col-md-2" />
        <div class="col-xs-12 col-sm-10">
            <p>
                Brian has always been an "idea person".
                He is constantly coming up with ideas for better ways of doing things or
                dreaming up a new software app to make some aspect of our lives better.
            </p>
            <p>
                He has a B.S. in Electrical Enginnering, B.A. in Biblical Literature, and an M.A. in Linguistics.
                He first started writing code in 1978 and has worked in the software development industry for over twenty years.
                He currently teaches software development at Lane Community College and
                the University of Oregon. 
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Ryan Sankey, COO</h3>
        <img src="~/Images/Ryan-384x516.png" class="col-xs-6 col-sm-3 col-md-2" />
        <div class="col-xs-12 col-sm-10">
            <p>
                Ryan has over 15 years of experience as a professional software developer,
                and has a B.S. in Computer Science from George Fox University.
            </p>
            <p>
                He has a passion for partnering with you to turn your ideas into a digital reality.
                Combined with excellent customer service, analytical skills, and project management skills,
                your software project is sure to be handled with care.
            </p>
        </div>
    </div>
<br />
    
    <h2 class="fusciatext">Why choose us?</h2>

    <h3>We know how to develop software that:</h3>

    <ul class="row">
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                Truly meets your needs
            </span>
        </li>
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                Works intuitively and is easy to use
            </span>
        </li>

        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                Can be easily expanded and upgraded
            </span>
        </li>
    </ul>

    <br />
    <p><em>This web site was created using ASP.NET MVC, jQuery, Bootstrap, and SQL Server</em></p>

