﻿@{
    ViewBag.Title = "AgileDev";
}

<link href="~/Content/serviceslayout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/servicesstyle.css" rel="stylesheet" type="text/css" />

<h2>AgileDev</h2>
