﻿
@model CCS2.ViewModels.ContactVM

@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/contactlayout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/contactstyle.css" rel="stylesheet" type="text/css" />

<hgroup>
    <h2 class="fuschiatext">@ViewBag.Title Creative CyberSolutions</h2>
</hgroup>
@*
    <div class="row">
        <h3 class="col-xs-offset-1 col-xs-4 col-sm-2 contactheading">Phone:</h3>
        <p class="col-xs-3 contactinfo">541-393-2284</p>
    </div>
    <div class="row">
        <h3 class="col-xs-4 col-sm-2 contactheading">Email:</h3>
        <a class="col-xs-3 contactinfo" href="mailto:brianb@ccybers.com">brianb@ccybers.com</a>
    </div>
*@


@using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
{
    @Html.ValidationSummary()
    <fieldset>
        <div class="form-field">
            <label class="name">
                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name *", @type = "text" })
                @Html.ValidationMessageFor(model => model.Name)
            </label>
        </div>
        <div class="form-field">
            <label class="email">
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email" })
                @Html.ValidationMessageFor(model => model.Email)
            </label>
        </div>
        <div class="form-field">
            <label class="phone notRequired">
                @Html.TextBoxFor(m => m.Telephone, new { @placeholder = "Telephone Number", @type = "text" })
                @Html.ValidationMessageFor(model => model.Telephone)
            </label>
        </div>
        <div class="form-field">
            <label class="message">
                @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message *" })
                @Html.ValidationMessageFor(model => model.Message)
            </label>
        </div>
        <div class="button-wrapper">
            <input type="submit" value="Send" name="submit" class="button"> <input type="reset" value="Reset" name="MFReset" class="button">
        </div>
        <span>* Required Fields</span>
    </fieldset>
}
