﻿@{
    ViewBag.Title = "Creative CyberSolutions";
}

<link href="~/Content/homelayout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/homestyle.css" rel="stylesheet" type="text/css" />

<h2 class="fuschiatext">Empower Your Business</h2>

<ul class="row">
    <li>
        <img src="~/Images/iconmoney.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Sell products and services
        </span>
    </li>
    <li>
        <img src="~/Images/icondatabase.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Store, organize and deliver information
        </span>
    </li>
    <li class="row hidden-xs"></li>
    <li>
        <img src="~/Images/icongear.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Automate business processes
        </span>
    </li>
    <li>
        <img src="~/Images/iconmegaphone.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Collaborate and communicate
        </span>
    </li>
    <li class="row"></li>
    <li>
        <img src="~/Images/icongradhat.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Train, inform and educate
        </span>
    </li>
    <li>
        <img src="~/Images/iconmask.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Entertain and Engage
        </span>
    </li>
</ul>

<br />
<h2 class="fuschiatext">We Have Experience Creating: </h2>
<ul class="row">
    <li>
        <img src="~/Images/iconcomputer.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Software applications for Desktop and Notebook computers
        </span>
    </li>
    <li>
        <img src="~/Images/iconweb.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Web sites, web applications, and web services
        </span>
    </li>
    <li class="row"></li>
    <li>
        <img src="~/Images/iconphone.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Mobile applications (Android and iOS)
        </span>
    </li>
    <li>
        <img src="~/Images/icondatabase.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Databases
        </span>
    </li>
    <li class="row"></li>
    <li>
        <img src="~/Images/icongears.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Software systems composed of multiple programs, apps and web sites
        </span>
    </li>
    <li>
        <img src="~/Images/iconcrossplat.png" class="col-md-1 col-sm-2 col-xs-3" />
        <span class="lead col-md-5 col-sm-4 col-xs-9">
            Cross-platform software that runs on the web, Desktop, and mobile devices
        </span>
    </li>
</ul>
