﻿@{
    ViewBag.Title = "Services";
}

<link href="~/Content/serviceslayout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/servicesstyle.css" rel="stylesheet" type="text/css" />

<ul >
    <li class="row">
        <h2 class="fusciatext">App Development</h2>
        <img src="~/Images/iconphone.png" class="col-sm-2" />
        <div class="col-sm-10">
            <h3>
                You have a brilliant app idea.<br />
                We will:
           </h3>
            <ul>
                <li>Help you develop and refine your idea.</li>
                <li>Design and code the software.</li>
                <li>Deploy the software to your market.</li>
            </ul>
            <br />
        </div>
    </li>

    <li class="row">
        <h2 class="fuschiatext">Business Automation</h2>
        <img src="~/Images/icongears.png" class="col-sm-2" />
        <div class="col-sm-10">
            <h3>You want your business to run more efficiently.<br />
            We will:</h3>
            <ul>
                <li>Understand your business processes.</li>
                <li>Find or create the right software.</li>
                <li>Document the software and train your employees.</li>
            </ul>
            <br />
        </div>
    </li>

    <li class="row">
        <h2 class="fuschiatext">Development Services</h2>
        <img src="~/Images/iconccs.png" class="col-sm-2" />
        <div class="col-sm-10">
            <h3>You do software development, but need help.<br />
            We will:</h3>
            <ul>
                <li>Provide experienced developers to work with your team.</li>
                <li>Consult on design and implementation.</li>
                <li>Manage all or part of a project.</li>
            </ul>
        </div>
    </li>
</ul>


