﻿@{
    ViewBag.Title = "Portfolio";
}

<link href="~/Content/serviceslayout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/servicesstyle.css" rel="stylesheet" type="text/css" />

<h2>Portfolio</h2>

<p>Examples of our work.</p>