﻿@{
    ViewBag.Title = "WebApps";
}

<link href="~/Content/serviceslayout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/servicesstyle.css" rel="stylesheet" type="text/css" />

<h2>Web Development</h2>
<h3>Web Sites vs. Web Apps</h3>
<h4>How is a web <em>app</em> different from a web <em>site</em>?</h4>
<p>
    The two terms tend to be used somewhat interchanably, but a web site mainly just presents information.
    The information flow is one-way and there would be no opportunity to post comments or give other kinds of input&mdash; 
    except perhaps to send a message to the owner of the web site.
    Examples would be sites that present:
    <ul>
        <li>Company information</li>
        <li>News</li>
        <li>Online books or articles</li>
    </ul>

</p>
<p>A web app does more. Users can often enter some kind of input and it does some kind of processing or calculation.
    It does some of the same kind of things an application installed on your computer would do.
    Eamples would include:
    <ul>
        <li>Online office apps (word processing, spreadsheets, etc.)</li>
    </ul>
    Or apps that take advantage of being interconnected blah blah...
    Examples would include:
        <ul>
            <li>Online banking</li>
            <li>Social media</li>
            <li>Loan calculators</li>
        </ul>
    </p>
<h4>Which do you need: a web site or a web app?</h4>
<p>If you mainly want to present information, then a web site </p>
