﻿.contactinfo 
{
    font-size: 130%;
}

#navcont a {
    background-color: #071B48 !important;
}

@media (max-width: 767px) 
{
    #contact-form 
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 768px) {
    #contact-form {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 992px) {
    #contact-form {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}