﻿/* Shared Bookend */

html, 
body
{
    margin: 0px;
    height: 100%;
    background-color:aliceblue; /* 240, 248, 255 */
}

.wrapper
{
    width: 100%;
    min-height: 100%;
	position: relative;
    padding-bottom: 50px;
}

.content
{
    padding-left: 5%;
    padding-right: 5%;
    
}

header
{
    position: relative;
}

#loginlink, #registerlink, #userlink, #logoutlink
{
    display: block;
    position: absolute;
}

#navbar
{
    margin-bottom: 4%;
    position: relative;
    top: -30px;
}

#navbar a
{
    display: block;
    width: 100%;
    height: 100%;
}

.decobar
{
    position: absolute;
    height: 100%;
    z-index: -1;
}

.footer
{
    position:absolute;
	bottom:0;
	left:0;
    width:100%;
    height: 25px;
    text-align: center;
}

.sub-menu
{
    position: absolute;
    width: 100%;
}

/* for bootstrap xs width screens*/
@media (max-width: 767px) 
{
    body
    {
        overflow-x: hidden;
    }

    header 
    {
        height: 100px;
        padding: 4px;
    }

    header hgroup h1 
    {
        position: initial;
        margin: auto;
        margin-top: 10px;
        text-align: center;

        letter-spacing: 4px;
    }

    header hgroup h4
    {
        position: relative;
        top: 5px;
        margin: auto;
        text-align: center;
    }

    #navbar
    {
        position: static;
    }

    .sub-menu, .sub-menu > *
    {
        position: static;
    }

    .wrapper
    {
        padding-bottom: 55px;
    }

    .footer
    {
        height: 35px;
    }
}

/* for bootstrap sm width screens */
@media (min-width: 768px) 
{
    header 
    {
        height: 180px;
    }

    /* first line: Creative */
    header hgroup h1 span:first-child
    {
        position: absolute;
        top: 40px;
        left: 183px;
        letter-spacing: 20.8px;
    }

    /* second line: CyberSolutions */
    header hgroup h1 span:last-child
    {
        position: absolute;
        top: 80px;
        left: 10px;
        letter-spacing: 20.8px;
    }

    /* LLC */
    strong.initials {
        letter-spacing: 11px;
    }

    header hgroup h4
    {
        position: absolute;
        top: 112px;
        left: 187px;
    }

    #loginlink, #logoutlink
    {
        top: 38px;
        right: 0px;
        width: 55px;
        height: 36px;
    }

    #registerlink, #userlink
    {
        top: 0px;
        right: 0px;
        width: 74px;
        height: 35px;
    }
}

/* for bootstrap md width screens */
@media (min-width: 992px) 
{
    header 
    {
        height: 200px;
    }

    /* first line: Creative */
    header hgroup h1 span:first-child
    {
        position: absolute;
        top: 43px;
        left: 244px;
        letter-spacing: 30px;
    }

    /* second line: CyberSolutions LLC */
    header hgroup h1 span:last-child
    {
        position: absolute;
        top: 85px;
        left: 18px;
        letter-spacing: 30px;
    }

    /* LLC */
    strong.initials
    {
        letter-spacing: 16px;
    }

    header hgroup h4
    {
        position: absolute;
        top: 125px;
        left: 250px;
    }

    #loginlink, #logoutlink
    {
        top: 42px;
        right: 0px;
        width: 70px;
        height: 40px;
    }

    #registerlink, #userlink
    {
        top: 0px;
        right: 0px;
        width: 95px;
        height: 39px;
    }
}

/* for bootstrap lg width screens */
@media (min-width: 1200px) 
{
    header 
    {
        height: 200px;
    }
        /* first line: Creative */
        header hgroup h1 span:first-child 
        {
            position: absolute;
            top: 43px;
            left: 298px;
            letter-spacing: 40px;
        }

        /* second line: CyberSolutions LLC */
        header hgroup h1 span:last-child 
        {
            position: absolute;
            top: 85px;
            left: 28px;
            letter-spacing: 40px;
        }

        /* LLC */
        strong.initials
        {
            letter-spacing: 24px;
        }

        header hgroup h4 
        {
            position: absolute;
            top: 125px;
            left: 325px;
        }

    #loginlink, #logoutlink
    {
        top: 42px;
        right: 0px;
        width: 85px;
        height: 40px;
    }

    #registerlink, #userlink
    {
        top: 0px;
        right: 0px;
        width: 115px;
        height: 39px;
    }
}

/* GLOBAL */

h2
{
    margin-bottom: 2%;
}

h3 
{
    margin-bottom: 2.5%;
}

h4
{
    margin-bottom: 2%;
}

/* Custom CSS - 5 column rows */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths 
{
    position: relative;
    min-height: 1px;
}

.col-xs-5ths 
{
    width: 20%;
    float: left;
}

@media (min-width: 768px) 
{
    .col-sm-5ths 
    {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) 
{
    .col-md-5ths 
    {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) 
{
    .col-lg-5ths 
    {
        width: 20%;
        float: left;
    }
}