﻿#navserv a {
    background-color: #071B48 !important;
}

ul
{
    list-style-type: none;
}

li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

h3 { 
    display:inline;
}