﻿@model CCS2.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/clientlayout.css" rel="stylesheet" type="text/css"/>
<link href="~/Content/clientstyle.css" rel="stylesheet" type="text/css" />

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <ol>
                <li>
                    <h2 class="row">Log In To Your Account</h2>
                </li>
                <li class="row">
                    @Html.ValidationSummary(true, string.Empty, new { @class = "loginerror" })
                </li>
                <li class="row">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-xs-12 col-sm-3 col-lg-2 loginline" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "col-sm-4 col-lg-3 " })
                    @Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "col-xs-12 col-sm-5 loginerror" })
                </li>
                <li class="row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-xs-12 col-sm-3 col-lg-2 loginline" })
                    @Html.PasswordFor(m => m.Password, new { @class = "col-sm-4 col-lg-3" })
                    @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "col-xs-12 col-sm-5 loginerror" })
                </li>
                <li class="row">
                    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-2">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </li>
                <li class="row">
                    <input type="submit" value="Log in" class="col-sm-offset-3 col-sm-4 col-md-offset-3 col-lg-offset-2 col-lg-3 loginbutton" />
                </li>
                <br />
                <!--
    <li class="row">
        <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-2">
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </div>
    </li>
    -->
            </ol>
        </fieldset>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
